.sign-up-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.sign-up-form {
    display: flex;
    flex-direction: column;
}
.header-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}
.sing-up-label {
    display: none;
}

.rout-login {
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.rout-login:hover {
    font-weight: bold;
}

.sign-up-form-router {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
}