.inbox-body-message{
    background-color: #303142;
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
.message-box{
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin: 20px 15px;
    border-radius: 42px 42px 42px 0px;
    background-color: #404359;
    text-align: initial;
    max-width: 181px;
    height: auto;
    padding: 18px;
    word-wrap: break-word;
}

.message-user-box{
    margin: 15px 5px;
    border-radius: 42px 42px 0px 42px;
    color: white;
    background-color: #2196f3;
    text-align: initial;
    max-width: 181px;
    height: auto;
    padding: 18px;
    word-wrap: break-word;
    align-self: flex-end;
}

.button-input-message {
    display: none;
}