.wrapper {
    max-width: 1700px;
    padding: 0 15px;
    margin: 0 auto;
    margin-left: 74px;
}

.block-project {
    height: 93px;
    border-radius: 5px;
    background-color: #3a3e52;
    margin: 20px 0px;
    border-left: 4px solid #2196f3;
}

.project {
    height: 500px;
    overflow: scroll;
}

.box-project {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    padding: 0px 10px;
    height: 93px;
    align-items: center;
}

.user-porfile {
    display: flex;
}

.user-ava {
    padding-right: 15px;
}
.title {
    width: 180px;
}
.status {
    width: 103px;
}

@media screen and (max-width: 900px) {
    .date {
        display: none;
    }
}

@media screen and (max-width: 794px) {
    .cost {
        display: none;
    }
}

@media screen and (max-width: 743px) {
    .ava {
        display: none;
    }
}

@media screen and (max-width: 710px) {
    .hours {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .status {
        display: none;
    }
}
