.inbox-info {
    box-shadow: 0 3px 80px rgba(23, 24, 32, 0.2);
    background-color: #3d87d1;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 82px;
    align-items: center;
    color: white;
}

.dropdown {
    display: flex;
    margin-right: 60px;
}

.info {
    padding-left: 61px;
    display: flex;
}

.mg-rgt-20px {
    margin-right: 20px;
}