label {
    display: none;
}

.block-login {
    color: #9A9AA8;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.login-form {
    display: flex;
    flex-direction: column;
}

.box-login__input {
    background-color: #f4f5ff;
}




.login-form-router {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
}

.rout-reset {
    color: white;
}

.rout-sign {
    color: white;
}

.rout-sign:hover {
    font-weight: bold;
}

.rout-reset:hover {
    font-weight: bold;
}