label {
    display: none;
}

.reset-wrapper {
    color: #9A9AA8;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.reset {
    display: flex;
    flex-direction: column;
}
