.form-input {
    height: 50px;
    border: 1px solid #f4f5ff;
    border-radius: 25px;
    margin: 5px 0;
    padding: 0 25px;
    background-color: #f4f5ff;
    color: #9A9AA8;
    outline: none;
    font-size: 14pt;
}

.err {
    border: 1px solid red;
}

.error {
    margin: 0 15px;
    color: red;
}